.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$gutter / 2 * 1px;
    margin-right: -$gutter / 2 * 1px;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
    margin: $gutter / 2 * 1px $gutter * 1px;
}

.col-auto {
    flex: 1 0 20%;
    min-width: 250px;
    min-height: 49vh;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin: $gutter / 2 * 1px $gutter / 2 * 1px;
}

@media (max-width: 576px) {
    .flex-grid {
        display: block;

        .col {
            min-height: 300px;
        }
    }
}
