$gutter: 20;

$blue: #009dd9;
$green: #28a745;
$red: #f2443d;
$grey: #e4e8ec;
$light-grey: #f0f4f8;
$dark-grey: #343a40;

$colors: (
    "blue": $blue,
    "green": $green,
    "grey": $grey,
    "light-grey": $light-grey,
    "red": $red,
);
